{% extends "base_template.html" %}
{% block title %}Taller Integrado 2024: Videojuegos en la Plataforma: {{random_platform}}{% endblock %}

{% block headContent %}
{% endblock %}

{% block header %}
<div class="container-fluid fs-1">Taller Integrado 2024: Videojuegos en la Plataforma: {{random_platform}}</div>
{% endblock %}

{% block menu %}
<li class="nav-item">
    <a class="nav-link" href="http://127.0.0.1:5000/">Inicio</a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/platform/">Plataformas</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="http://127.0.0.1:5000/genre/">Géneros</a>
</li>
{% endblock %}

{% block main %}
<section class="intro">
    <div class="bg-image h-100">
        <div class="mask d-flex align-items-center h-100">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-12">
                <div class="card shadow-2-strong">
                <div class="card-body p-0">
                    <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                    <table class="table table-dark mb-0">
                        <thead style="background-color: #393939;">
                        <tr class="text-uppercase text-success">
                            <th scope="col">Nombre</th>
                            <th scope="col">Año</th>
                            <th scope="col">Género</th>
                            <th scope="col">Editor</th>
                            <th scope="col">Ventas NA</th>
                            <th scope="col">Ventas EU</th>
                            <th scope="col">Ventas JP</th>
                            <th scope="col">Otras Ventas</th>
                            <th scope="col">Ventas Globales</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for game in data %}
                        {% if game.platform == random_platform %}
                        <tr>
                            <td>{{ game.name }}</td>
                            <td>{{ game.year }}</td>
                            <td>{{ game.genre }}</td>
                            <td>{{ game.publisher }}</td>
                            <td>{{ game.na_sales }}</td>
                            <td>{{ game.eu_sales }}</td>
                            <td>{{ game.jp_sales }}</td>
                            <td>{{ game.others_sales }}</td>
                            <td>{{ game.global_sales }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>
{% endblock %}